.contact {
    $primary: $main-white;
    $secondary: $main-dark;
    $accent: $main-blue;

    .contact-info {
        text-align: left;

        h1 {
            font-size: 2rem;
            width: 100%;
        }

        p {
            font-size: 0.9rem;
            width: 100%;
            svg {
                color: $main-red;
            }

            &:nth-of-type(2) {
                display: block;

                svg {
                    margin: 0 2px 0 4px;
                }
            }

            &:nth-of-type(3) {
                display: none;
                svg {
                    margin: 0 2px 0 4px;
                }
            }

            &:last-of-type {
                font-size: 0.8rem;
                margin-top: 15px;

                svg {
                    font-size: 1rem;
                    margin-right: 20px;
                }
            }
        }

        a {
            font-size: 0.85rem;
            text-decoration: underline;
            color: $main-white;

            &:hover,
            &:visited,
            &:focus {
                opacity: 0.8;
                color: $main-white;
                text-decoration: none;
            }
        }

        ul {
            width: 100%;
            background: transparent;
            padding-left: 0;
            margin-top: 45px;
            list-style: none;
            text-align: left;
            position: relative;

            &:before, &:after {
                content: '';
                height: 2px;
                width: 100%;
                opacity: 0.5;
                position: relative;
                background: $main-white;
                display: block;
            }

            li {
                display: inline-block;
                padding: 20px 0;
                width: 16.6666666%;
                position: relative;

                &:nth-of-type(1) {
                    a:hover {
                        color: #3b5998;
                    }
                }
                &:nth-of-type(2) {
                    a:hover {
                        color: #333333;
                    }
                }
                &:nth-of-type(3) {
                    a:hover {
                        color: #007bb5;
                    }
                }
                &:nth-of-type(4) {
                    a:hover {
                        color: #c32aa3;
                    }
                }
                &:nth-of-type(5) {
                    a:hover {
                        color: #ea4335;
                    }
                }
                &:nth-of-type(6) {
                    a:hover {
                        color: #09b83e;
                    }

                    &:hover {
                        &:after {
                            position: absolute;
                            content: "TUOLAJI_90";
                            top: 10px;
                            line-height: 10px;
                            vertical-align: top;
                            height: 10px;
                            background: none;
                            font-size: 12px;
                            left: 50%;
                            transform: translateX(-50%);
                            color: #fff;
                            font-weight: 600;
                            transition:all 0.4s cubic-bezier(0.5,0,1,0.8);
                            -webkit-animation: slideUp 0.8s cubic-bezier(0.5,0,1,0.8);
                            -o-animation: slideUp 0.8s cubic-bezier(0.5,0,1,0.8);
                            animation: slideUp 0.8s cubic-bezier(0.5,0,1,0.8);
                        }
                    }
                }
            }

            a {
                color: #fff;
                font-size: 40px;
                transition:all 0.4s cubic-bezier(0.5,0,1,0.8);
                position: relative;
                display: inline-block;

                &:hover {
                    transform: rotate(360deg);
                }

                &:active {
                    transform: rotate(360deg) scale(1.1);
                }
            }
        }
    }

    .card {
        background: transparent;
        border: none;
        text-align: left;

        h1 {
            font-size: 2rem;
            margin-bottom: 8px;
        }

        p {
            font-size: 0.95em;
            line-height: 1.1;
            margin-bottom: 20px;
            width: 100%;
            filter: grayscale(100%);

            svg {
                width: 8px;
                margin-right: 5px;
                vertical-align: initial;
            }

            span {
                font-size: 0.9em;
                display: block;
                width: 100%;
                text-align: right;
            }
        }

        .form {
            padding: 0;
        }

        .submit-btn {
            outline:none;
            text-align: center;
            width: 130px;
            line-height: 35px;
            border-radius: 5px;
            border: 2px solid $main-white;
            color: $main-white;
            letter-spacing: 1px;
            background: transparent;
            text-shadow: 0;
            cursor: pointer;
            transition: all 0.45s ease;
            font-weight: 700;
            display: inline-block;
            font-size: 18px;
            margin-top: 5px;
            animation: shake 3s linear 1s infinite;

            .icon {
                display: none;
            }

            &:hover {
                color: $main-yellow;
                background: $main-white;
            }

            &:active {
                letter-spacing: 3px;
                transition: all 0.85s ease;
                color: $main-yellow;
                background: $main-white;
            }

            &:after {
                content: "Sent";
                font-size: 18px;
            }

            &.on-click {
                width: 45px;
                border: 3px solid $main-white;
                font-size:0;
                border-radius: 45px;
                border-left-color: $main-green;
                animation: rotating 2s 0.25s linear infinite;

                &:after {
                    content:"";
                }

                &:hover {
                    color: $main-green;
                    background: $main-white;
                }
            }

            &.validate {
                font-size: 15px;
                font-weight: 700;
                color: $main-yellow;
                background: $main-white;

                &:after {
                    content: "Sent"
                }
            }

            &.disabled {
                cursor: no-drop;
                opacity: 0.8;
                filter: grayscale(80%) blur(1px);
                transform: scale(0.9);
                pointer-events: none;
                animation: none;
            }
        }

        .text-input {
            position: relative;
            margin-bottom: 2em;

            label {
                @include label;
            }

            label.label-focus {
                @include label-focus;
            }

            input {
                @include input;
            }

            input.input-focus {
                @include input-focus;
            }

            &.has-error {
                @include has-error;
            }
        }

        .text-area {
            position: relative;
            margin-bottom: 1rem;

            label {
                @include label;
            }

            label.label-focus {
                @include label-focus;
            }

            textarea {
                @include input;
                height: 8em;
            }

            textarea.input-focus {
                @include input-focus;
            }

            &.has-error {
                @include has-error;
            }
        }

        .error-message {
            opacity: 0;
            min-height: 1rem;
        }
    }

    @media screen and (max-width: $break-lg) {
        .contact-info {
            ul {
                li {
                    padding: 10px 0;
                    margin-right: 3px;
                }

                a {
                    font-size: 32px;
                }
            }
        }
    }

    @media screen and (max-width: $break-md) {
        .contact-info {
            width: 100%;
            max-width: 360px;
            margin: 10px auto 20px;
            padding: 0 0 30px;

            h1 {
                display: none;
            }

            p {
                margin-bottom: 5px;

                &:nth-of-type(2) {
                    display: none;
                }

                &:nth-of-type(3) {
                    display: block;
                }
            }

            ul {
                margin-top: 20px;

                li {
                    padding: 10px 5px;
                }

                a {
                    font-size: 32px;
                }
            }
        }

        .card {
            padding: 7vh 0 60px 0;
            margin: 10px auto;
            width: 100%;
            max-width: 360px;

            p {
                display: block;
            }
        }
    }

    @media screen and (max-width: $break-sm) {
        .contact-info {
            max-width: 300px;
        }

        .card {
            max-width: 300px;
        }
    }
}

@keyframes rotating {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes slideUp {
    from {
        top: 50px;
        opacity: 0;
    }
    to {
        top: 10px;
        opacity: 1;
    }
}
