.construction-inner-container {
    text-align: left;
    max-width: 480px;
    width: 100%;
    margin: 0 auto;
    min-height: 400px;

    #construction-header {
        margin-top: 50px;
    }

    b {
        font-weight: normal;
    }

    .declare-color {color: #D3B64F}
    .class-color {color: #FFC300}
    .tag-color {color: #4789C7}
    .prop-color {color: #A02AC0}
    .propstr-color {color: #28A27C}
    .normal-color {color: $main-white}

    #coming_soon {
        p {
            &:nth-of-type(2),
            &:nth-of-type(3) {
                padding-left: 60px;
            }

            &:nth-of-type(1),
            &:nth-of-type(4) {
                padding-left: 30px;
            }

            &:nth-of-type(5),
            &:nth-of-type(6) {
                display: inline-block;
            }
        }

        span {
            font-size: 1em;
            position: relative;

            &:after{
                content: "_";
                position: absolute;
                bottom: 0;
                font-size: 1em;
                left: 0;
                display: none;
                animation: blinkerHide 50ms ease-in-out;
            }
        }
    }

    .type-indicator {
        opacity: 1;
        animation: blinker 1s ease-in-out infinite;
        font-size: 1.2em;
        padding-left: 5px;
    }

    @media screen and (max-width: 550px) {
        #construction-header {
            padding: 0 20px;
        }

        #coming_soon {
            padding: 0 20px;

            p {
                &:nth-of-type(2),
                &:nth-of-type(3) {
                    padding-left: 30px;
                }

                &:nth-of-type(1),
                &:nth-of-type(4) {
                    padding-left: 15px;
                }
            }
        }
    }
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}
