.about-work-container {
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
    position: relative;
    padding-top: 80px;

    .work-barin {
        margin: 0 auto;
        width: 100%;
        position: relative;

        svg.brain-svg {
            height: 500px;
            width: 100%;
            z-index: 10;

            path {
                transition: color 1s ease;
            }

            #left_brain_svg {
                cursor: pointer;

                &:hover {
                    fill: $main-yellow;
                }
            }

            #right_brain_svg {
                path {
                    cursor: pointer;

                    &:hover {
                        &:nth-child(2) {
                            fill: $main-yellow;
                        }

                        &:nth-child(3),
                        &:nth-child(4),
                        &:nth-child(5),
                        &:nth-child(6){
                            fill: $main-red;
                        }
                    }
                }
            }
            .bot_brain_svg {
                &:hover {
                    fill: $main-yellow;
                }
            }
        }
    }
    .brain-close-container{
        @include centererHorizontal;
        @include mainButton;
        top: -30px;

        #barin-close {
            border-radius: none;
            border: none;
            font-size: 2em;
        }
    }

    .about-work-content {
        position: absolute;
        max-width: 300px;
        left: 50%;
        top: 40%;
        transform: translate(-50%, -50%);

        svg {
            width: 140px;
            height: auto;
        }
    }
}
