.about-work-container {
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
    position: relative;
    padding-top: 80px;

    .work-barin {
        margin: 0 auto;
        max-width: 300px;
        width: 100%;
        position: relative;

        svg {
            width: 100%;
            z-index: 10
        }
    }

    .brain-left,
    .brain-right {
        border: none;
        outline: none;
        background: transparent;
        height: 100%;
        cursor: pointer;
        position: absolute;
        top: 5px;
        width: 140px;
        height: 75%;
        z-index: 20;
    }

    .brain-left{
        left: 0;
    }

    .brain-right {
        right: 0
    }

    #barin-close {
        @include centererHorizontal;
        top: 20%;
    }

    .about-work-content {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}
