.about {
    position: relative;
    $bg-color: themeColor('bg', 'about');
    $text-color: themeColor('text', 'about');
    $text-color-alter: $main-yellow;

    .col-container {
        width: 100%;
        @include centerer;
        min-height: 200px;
    }

    .about-cols {
        position: relative;
        width: (100%/3);
        display: inline-block;
        text-align: center;
        height: 100%;
        opacity: 0;

        .about-col {
            margin: 0;
            text-align: center;
            cursor: pointer;
            height: 200px;
            width: 100%;
            position: relative;

            button {
                position: absolute;
                display: block;
                width: 100%;
                height: 100%;
                vertical-align: bottom;
                opacity: 0;
                font-weight: 900;
                cursor: pointer;
                background: transparent;
                outline: none;
                text-transform: uppercase;
                border: none;
                pointer-events: none;
                color: $main-white;
                @include centerer;
                border-radius: 3px solid  $main-white;
                z-index: 20;

                span {
                    position: absolute;
                    display: block;
                    @include centerer;
                    font-size: 1em;
                    transform: translate(-50%, 280%);
                    top: 65%;
                }
            }

            .about-icon {
                position: relative;
                display: block;
                min-height: 130px;
                z-index: 10;
            }

            &:hover,
            &:focus,
            &:active {
                button {
                    pointer-events: all;
                    opacity: 1;
                    transition: all 1s ease;

                    span {
                        transform: translate(-50%, 10%);
                        opacity: 1;
                        font-size: 3em;
                        transition: transform 1s ease-in-out, opacity 1s ease-out, font-size 1s ease-out;
                    }
                }

                .about-icon {
                    pointer-events: none;
                    opacity: 1;
                    transition: all 1s ease;
                    transform: scale(0.8);
                }
            }
        }

        .about-col.hobby-col {
            @import './partial/_aniHeart.scss';
        }

        .about-col.work-col {
            .work-icon-wapper {
                position: relative;
                text-align: center;
            }

            .top {
                display: block;
            	width: 60px;
            	height: 40px;
                margin: 0 auto;
            	border-top: 8px solid $main-red;
                border-right: 8px solid $main-red;
                border-left: 8px solid $main-red;
                border-bottom: 0;
            	border-radius: 20px 20px 0 0;
            }

        	.bottom {
                display: block;
                width: 180px;
                height: 110px;
                margin: 0 auto;
                border: 20px solid $main-blue;
                border-radius: 20px;
                background: $main-blue;
                transition: transform 0.8s linear;
            }

            &:hover,
            &:focus,
            &:active {
                .bottom {
                    transform: rotate(180deg);
                }
            }
        }

        .about-col.journey-col {
            .pin {
            	width: 100px;
            	height: 100px;
            	border-radius: 50% 50% 50% 0;
            	background: $main-red;
            	transform: rotate(-45deg);
            	margin: 0 auto;
            	animation-name: shake;
            	animation-fill-mode: both;
            	animation-duration: 1s;
                z-index: 20;

                &:after {
                	content: '';
                    @include centerer;
                	width: 30px;
                	height: 30px;
                	background: $bg-color;
                	border-radius: 50%;
                }
            }

            .pulse {
            	background: rgba(0,0,0,0.2);
            	border-radius: 50%;
            	height: 30px;
            	width: 30px;
                margin: 10px auto 0;
            	transform: rotateX(55deg);
            	z-index: -10;
                position: relative;

                &::after {
                	content: "";
                	border-radius: 50%;
                    position: absolute;
                	height: 80px;
                	width: 80px;
                    top: -25px;
                    left: -25px;
                	animation: pulsate 2s ease-out;
                	animation-iteration-count: infinite;
                	opacity: 0;
                	box-shadow: 0 0 1px 3px $main-blue;
                	animation-delay: 2.1s;
                }
            }
        }
    }

    //panel expanded style
    .about-expanded {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 100%;
    }

    .about-close {
        position: fixed;
        z-index: 100;
        top: 50px;
        right: 30px;
        text-align: right;

        button {
            @include backBtn($main-white, 40px, 26px, 3px);
        }
    }

    @import './partial/_timeline.scss';
    @import './partial/_work.scss';
    @import './partial/_hobbySlides.scss';

    @keyframes pulsate {
        0% {
            transform: scale(0.1, 0.1);
            opacity: 0;
        }

        50% {
            opacity: 1;
        }

        100% {
            transform: scale(1.2, 1.2);
            opacity: 0;
        }
    }
}
