div.content {
    font-size: 16px;

    // Over Write Bootstrap Carousel Style
    .carousel {
        padding-top: 20vh;

        .carousel-caption {
            position: relative;
            right: auto;
            top: auto;
            left: auto;
            bottom: auto;
            margin: 20px auto;
            max-width: 920px;
        }

        .carousel-indicators {
            li {
                opacity: 0.7;
                cursor: pointer;
                transition: all 0.4s linear;
                margin: 0 6px;
                height: 3px;
                background-color: $main-white;

                // @for $i from 1 through 4 {
                //     &:nth-child(#{$i}) {
                //         background-color: nth($fourColors, $i);
                //         animation: changingColor 4s linear infinite;
                //         animation-delay: $i - 1s;
                //     }
                // }

                &:hover {
                    opacity: 1;
                    transform: scale(1.2);
                    animation: changingColor 4s linear infinite;
                }

                &.active {
                    opacity: 1;
                    transform: scale(1.2);
                    animation: changingColor 4s linear infinite;
                }
            }
        }

        .carousel-control-prev,
        .carousel-control-next {
            display: none;
        }
    }
}
