footer {
    .footer-container {
        position: relative;
        min-height: 40px;

        svg {
            width: 16px;
        }
    }

    .start-game-icon,
    .info-icon {
        @include centererVertical;
        opacity: 0.8;
        z-index: 10;

        button {
            background: transparent;
            border: none;
            opacity: 0.8;
            cursor: pointer;
            outline: none !important;
            color: $main-white;

            &:hover {
                opacity: 1;
                transform: scale(1.2);
            }
        }
    }

    .start-game-icon{
        left: 5px;
    }

    .info-icon {
        right: 5px;
    }

    .info-wrapper {
        width: 100%;
        user-select: none;
        padding: 0 5px;
        text-align: right;
        position: relative;
        background-image: linear-gradient( to bottom, rgba(0, 0, 0, .2), rgba(0, 0, 0, .3));

        ul {
            padding-left: 0;
            list-style: none;
            margin: 0 5px 0 0;
            display: inline-block;

            li {
                list-style: none;
                display: inline-block;
                line-height: 40px;
                margin: 0;
                width: 36px;

                a {
                    color: $main-white;
                    cursor: pointer;
                    opacity: 0.7;
                    background: transparent;
                    border: none;
                    outline: none;

                    &:hover {
                        opacity: 1;

                        svg {
                            font-size: 1.1em;
                            color: $main-white;
                        }
                    }
                }
            }
        }

        button {
            display: inline-block;
            background: none;
            outline: none;
            border: none;
            color: $main-white;
            cursor: pointer;
            background: transparent;
            width: 40px;

            svg {
                opacity: 0.4;
                color: $main-white;
                animation: shake 3s linear 2s infinite;
            }

            &:hover {
                opacity: 1;

                svg {
                    font-size: 1.1em;
                    opacity: 1;
                    color: $main-white;
                }
            }
        }

        p {
            @include centererVertical;
            left: 10px;
            font-size: 12px;
            display: inline-block;
            color: $main-white;
            font-weight: 700;

            span {
                padding-right: 20px
            }

            svg {
                color: inherit;
                padding: 0 2px;
            }

            svg:first-of-type {
                path {
                    fill: #fe5c5c;
                    animation: heartAnim 0.9s linear 0.8s infinite alternate;
                }
            }
        }
    }

    @media screen and (max-width: $break-sm) {
        .info-wrapper {
            text-align: center;

            ul {
                display: block;
            }

            button {
               display: none;
            }

            p {
                margin-top: 5px;
                margin-bottom: 0;
                left: 0;
                display: block;
                position: relative;
                transform: translate(0, 0);
                top: 0;
                padding-bottom: 15px;
            }

        }
    }
}
