.navbar {
    z-index: 1050;

    .nav-logo {
    	font-family: 'Anton', sans-serif;
    	perspective: 1000px;
    	perspective-origin: 200px 40px;

        a {
            color: $text-color-grey;

            &:hover {
                color: $text-color-grey;
            }
        }

        span {
        	cursor: pointer;
        	display: inline-block;
        	font-size: 32px;
        	user-select: none;
        	line-height: .8;
        }

        span:nth-child(1) {
        	animation: ani-letter 1s ease-in-out infinite;
            animation-delay: 1s;
        }

        span:nth-child(2) {
            animation: ani-letter 1s ease-out infinite;
            animation-delay: 1s;
        }

        span:nth-child(3) {
        	animation: ani-letter 1s ease-out infinite;
            animation-delay: 1s;
        }
    }
}

/*********
Css animations goes below
**********/
@keyframes ani-letter {
    0% {
       transform: translate(0)
   }
   33% {
       transform: translate(2px, 1px)
   }
   66% {
       transform: translate(-1px, -1px)
   }
   to {
       transform: translate(0)
   }
}
