.navbar {
    z-index: 1050;
    padding: 0 15px;
    width: 100%;
    background: transparent !important;

    .navbar-toggler {
        border: none;
    }

    .nav-logo {
    	font-family: 'Anton', sans-serif;
    	perspective: 1000px;
    	perspective-origin: 200px 40px;

        a {
            color: $text-color;
            font-weight: 900;

            &:hover {
                color: $main-grey;
            }
        }

        span {
        	cursor: pointer;
        	display: inline-block;
        	font-size: 32px;
        	user-select: none;
        	line-height: .8;
            clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 90%);
            opacity: 1;
            margin: 0 -1px;
        }

        span:nth-child(1) {
            animation: aniLetter 8s infinite ease;
            animation-delay: 1s;
        }

        span:nth-child(2) {
            animation: aniLetter 8s infinite ease;
            animation-delay: 3s;
        }

        span:nth-child(3) {
            animation: aniLetter 8s infinite ease;
            animation-delay: 6s;
        }
    }

    .navbar-nav {
        text-align: right;
        display: inline-block;
        width: 100%;

        ul{
            list-style: none;
            padding-left: 0;

            li {
                list-style: none;
                display: inline-block;

                span {
                    padding: 0 4px;
                    font-weight: 900;
                    color: $main-white;
                }

                a {
                    color: $main-white;
                    display: inline-block;
                    font-weight: 700;
                    text-transform: uppercase;
                    text-decoration: none;
                    font-size: 0.9rem;
                    @include link_mrl;

                    &.selected {
                        opacity: 0.8;
                        color: $main-white;

                        &:hover{
                            color: $main-white !important;
                        }

                        &:before {
                            width: 100%;
                            background: $main-white !important;
                        }
                    }
                }

                @for $i from 1 through 5 {
                    &:nth-of-type(#{$i}) {
                        a {
                            &:before {
                                background: nth($colors, $i);
                                height: 0.18em;
                            }

                            &:hover{
                                opacity: 0.8;
                                color: nth($colors, $i);
                            }
                        }
                    }
                }
            }
        }
    }

    @media screen and (max-width: $tablet-breakpoint) {
        text-align: right;

        .navbar-nav {
            text-align: left;

            ul li {
                width: 100%;
                display: block;

                span {
                    display: none;
                }
            }
        }
    }
}
