.navbar {
    z-index: 1050;
    padding: 0 15px;
    width: 100%;
    background: transparent !important;

    .navbar-toggler {
        border: none;
        cursor: pointer;
        z-index: 1051;

        span {
            display: block;
            height: 3px;
            background-color: $main-white;
            border-radius: 100px;
            transition: transform 0.6s cubic-bezier(.54, .1, .42, 1.48), width 0.6s ease-out;

            &:first-child {
                transform: rotate(45deg) translate(0, -2px);
                width: 13px;
            }

            &:nth-child(2) {
                transform: rotate(-45deg);
                width: 26px;
            }

            &:last-child {
                transform: rotate(45deg) translate(10px,-6px);
                width: 13px;
            }
        }

        &:hover {
            opacity: 0.6;
        }

        &.collapsed {
            span {
                transform: none;

                &:not(:last-child) {
                    margin-bottom: 3px;
                }

                &:first-child {
                    transform-origin: 0 50%;
                    width: 13px;
                }

                &:nth-child(2) {
                    width: 26px;
                }

                &:last-child {
                    transform-origin: 100% 50%;
                    width: 18px;
                }
            }
        }
    }

    .nav-logo {
    	font-family: 'Anton', sans-serif;
    	perspective: 1000px;
    	perspective-origin: 200px 40px;

        a {
            color: $text-color;
            font-weight: 900;

            &:hover {
                color: $main-grey;
            }
        }

        span {
        	cursor: pointer;
        	display: inline-block;
        	font-size: 32px;
        	user-select: none;
        	line-height: .8;
            clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 90%);
            opacity: 1;
            margin: 0 -1px;
        }

        span:nth-child(1) {
            animation: aniLetter 8s infinite ease;
            animation-delay: 1s;
        }

        span:nth-child(2) {
            animation: aniLetter 8s infinite ease;
            animation-delay: 3s;
        }

        span:nth-child(3) {
            animation: aniLetter 8s infinite ease;
            animation-delay: 6s;
        }
    }

    .navbar-nav {
        text-align: right;
        display: inline-block;
        width: 100%;

        ul{
            list-style: none;
            padding-left: 0;

            li {
                list-style: none;
                display: inline-block;

                span {
                    padding: 0 4px;
                    font-weight: 900;
                    color: $main-white;
                }

                a {
                    color: $main-white;
                    display: inline-block;
                    font-weight: 700;
                    text-transform: uppercase;
                    text-decoration: none;
                    font-size: 0.9rem;
                    @include link_mrl;

                    &.selected {
                        opacity: 0.8;
                        color: $main-white;

                        &:hover{
                            color: $main-white !important;
                        }

                        &:before {
                            width: 100%;
                            background: $main-white !important;
                        }
                    }
                }

                @for $i from 1 through 5 {
                    &:nth-of-type(#{$i}) {
                        a {
                            &:before {
                                background: nth($colors, $i);
                                height: 0.18em;
                            }

                            &:hover{
                                opacity: 0.8;
                                color: nth($colors, $i);
                            }
                        }
                    }
                }
            }
        }
    }

    @media screen and (max-width: $tablet-breakpoint) {
        text-align: right;

        .navbar-collapse {
            position: fixed;
            text-align: right;
            width: 75%;
            height: 100%;
            left: 0;
            top: 0;
            bottom: 0;
            background: #333;
            -webkit-animation: slideRight 0.8s linear;
            -o-animation: slideRight 0.8s linear;
            animation: slideRight 0.8s linear;

            &:before {
                content: '';
                position: fixed;
                left: 0;
                top: 0;
                bottom: 0;
                right: 0;
                width: 100%;
                height: 100%;
                background: rgba(0,0,0,0.5);
                z-index: -1;
            }
        }

        .navbar-nav {
            text-align: left;
            padding-top: 50px;

            ul {
                width: 100%;
                display: block;
            }

            ul li {
                width: 100%;
                display: block;
                color: $main-white;
                padding-left: 50px;
                padding-top: 15px;
                opacity: 1;
                transform: translateX(-200px);

                @for $i from 1 through 5 {
                    &:nth-child( #{$i} ) {
                        -webkit-animation: dropDown .55s #{$i * 0.15 + 0.8}s ease 1 forwards;
                        -moz-animation: dropDown .55s #{$i * 0.15 + 0.8}s ease 1 forwards;
                        animation: dropDown .55s #{$i * 0.15 + 0.8}s ease 1 forwards;

                    }
                }

                span {
                    display: none;
                    font-size: 2em;
                }
            }
        }
    }

    @keyframes slideRight {
        from {
            left: -100%;
            opacity: 0.6;
        }
        to {
            left: 0;
            opacity: 1;
        }
    }


    @keyframes dropDown {
        0% {
            transform: translateX(-200px);
            opacity: 0;
        }
        100% {
            transform: translateX(0);
            opacity: 1;
        }
    }
}
