.home {
    $bg-color: themeColor('bg', 'home');
    $text-color: themeColor('text', 'home');
    $text-color-alter: $main-yellow-light;

    .home-btn {
        @include mainButton;
        width: max-content;
        margin: 0 auto;

        &:before,
        &:after {
            background-color: $text-color-alter;
        }

        button {
            color: $text-color-alter;
            font-size: 1rem;
            font-weight: 700;
            height: 2em;
            border: none;
            background: transparent;
            outline: none;
            padding: 3px 10px;
            margin: 0;
            cursor: pointer;

            &:before,
            &:after {
                background-color: $text-color-alter;
            }
        }
    }

    // Over Write Bootstrap Carousel Style

    .carousel {
        padding-top: 20vh;

        .carousel-caption {
            position: relative;
            right: auto;
            top: auto;
            left: auto;
            bottom: auto;
            margin: 20px auto;
            max-width: 920px;
            text-align: center;

            h3 {
                font-weight: 700;
                font-size: 3.8rem;
                margin-bottom: 1rem;
                text-transform: uppercase;
            }

            p {
                font-size: 1.25rem;
                font-weight: 500;
            }
        }

        .carousel-indicators {
            li {
                opacity: 0.7;
                cursor: pointer;
                transition: all 0.4s linear;
                margin: 0 6px;
                height: 3px;
                background-color: $main-white;

                &:hover {
                    opacity: 1;
                    transform: scale(1.2);
                    animation: changingColor 4s linear infinite;
                }

                &.active {
                    opacity: 1;
                    transform: scale(1.2);
                    animation: changingColor 4s linear infinite;
                }
            }
        }

        .carousel-control-prev,
        .carousel-control-next {
            display: none;
        }
    }
}
