@import url('https://fonts.googleapis.com/css?family=Anton|Roboto');

/* Text Color Variables */
$text-color: #444c5c;

/* Color Variables */
$main-bg: #f7f6f4;
$main-grey: #d8d5c4;
$main-green: #78a5a3;
$main-yellow-light: #e1b16a;
$main-yellow: #DAA520;
$main-blue: #444c5c;
$main-red: #ce5a57;
$main-dark: rgb(51, 51, 51);
$main-white: #ffffff;
$main-black: #000a17;
$main-purple: #9c76a2;
$main-overlay:rgba(0, 0, 0, .3);

/* Lists */
$colors: $main-dark $main-green $main-blue $main-yellow $main-red;
$rainbowColors: $main-yellow $main-grey $main-blue $main-red $main-dark $main-red $main-blue $main-grey $main-yellow;
$fourColors: $main-yellow $main-green $main-blue $main-red;
$sevenColors: $main-yellow $main-green $main-grey $main-red $main-purple $main-yellow-light $main-overlay;
$pages: "home" "about" "skills" "contact" "blog";

//Themes For Every Route
$theme-colors: (
    'bg': (
        'home': $main-dark,
        'about': $main-green,
        'skills': $main-blue,
        'contact': $main-yellow,
        'blog': $main-red,
    ),

    'text': (
        'home': $main-white,
        'about': $main-white,
        'skills': $main-white,
        'contact': $main-white,
        'blog': $main-white,
    ),
);

@function themeColor($key, $variant) {
    $map: map-get($theme-colors, $key);
    @return map-get($map, $variant);
}

/* Responsive Design */
$break-lg: 992px;
$break-md: 767px;
$break-sm: 480px;
$break-xs: 380px;

/***********************
Css Mixin Start
************************/
@mixin centerer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin centererHorizontal {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

@mixin centererVertical {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

@mixin mainLink {
    backface-visibility: hidden;
    position: relative;
    transition: 0.5s color ease;
    text-decoration: none;

    &:before,
    &:after {
        content: "";
        transition: 0.5s all ease;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        position: absolute;
        width: 0;
        height: 0.18em;
    }

    &:after {
        bottom: -0.2em
    }

    &:before {
        top: -0.2em;
    }
}

@mixin link_brl {
    @include mainLink;

    &:after {
        left: 0;
    }

     &:hover{
       &:after {
            width: 100%;
        }
    }
}

@mixin link_mrl {
    @include mainLink;

    &:before {
        left: 50%;
        top: 46%;
        transform: translateY(-50%);
        transform: translateX(-50%);
    }

     &:hover{
       &:before {
            width: 110%;
        }
    }
}

@mixin link_blr {
    @include mainLink;

    &:after {
        right: 0;
    }

    &:hover{
       &:after {
            width: 100%;
        }
    }
}

@mixin link_bc {
    @include mainLink;

    &:after {
        left: 50%;
        transform: translateX(-50%);
    }

    &:hover{
       &:after {
            width: 100%;
        }
    }
}

@mixin link_tb {
    @include mainLink;

    &:after {
        left: 0;
        width: 100%;
        height: 0.2em;
    }

    &:before {
        right: 0;
        width: 100%;
        height: 0.2em;
    }

    &:hover{
       &:after,
       &:before {
            width: 0;
        }
    }
}

@mixin mainButton {
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    font-size: 20px;
    background: transparent;
    overflow: visible;
    height: 2em;
    transition: all 0.8s linear;

    button {
        @include link_tb;
        overflow: visible;
    }

    &:before,
    &:after {
        content: "";
        box-sizing: border-box;
        transition: 0.25s all ease;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        position: absolute;
        width: 0.15em;
        height: calc(100% - 0.2em);
    }

    &:before {
        left: 0;
    }

    &:after {
        right: 0;
        bottom: 0.2em;
    }

    &:hover {
        transform: scale(0.9);
        opacity: 0.9;

        &:before,
        &:after {
             height: 0;
        }
    }
}

@mixin closeIcon($color, $size, $thickness) {
    width: $size;
    height: $size;
    background: transparent;
    border: $thickness dashed $color;
    border-radius: 50%;
    position:relative;
    cursor:pointer;
    outline: none;
    transition: all 0.3s ease;

    &:after ,
    &:before {
        width: $size/2;
        height: $thickness + 1px;
        background-color: $color;
        content: "";
        position: absolute;
        transform-origin: 0 0;
        border-radius: 1px;
        transition: all 0.3s linear;
    }

    &:after{
        transform: rotate(-45deg) translate(-50%, -50%);
    }

    &:before{
        transform: rotate(45deg) translate(-50%, -50%);
    }

    &:hover {
        border: $thickness+1px solid $color;

        &:after ,
        &:before {
            height: $thickness + 2px;
        }

        &:after {
            transform: rotate(60deg) translate(-50%, -50%);
        }
        &:before {
            transform: rotate(-30deg) translate(-50%, -50%);
        }
    }
}

@mixin backBtn($color, $width, $height, $thickness) {
    outline: none;
    border: none;
    background-color: transparent;
    transition: all 0.4s ease;
    cursor: pointer;
    color: $color;
    position: relative;
    text-align: center;
    padding: 0;

    span.line {
        bottom: auto;
        right: auto;
        top: auto;
        background-color: $color;
        border-radius: 10px;
        width: 100%;
        left: 0px;
        height: $thickness;
        display: block;
        position: absolute;
        transition: width 0.2s ease 0.1s, left 0.2s ease, transform 0.2s ease 0.3s, background-color 0.2s ease;
    }

    span.tLine {
        top: 0px;
    }

    span.mLine {
        top: calc(50% - #{$thickness}/2);
        opacity: 0;
    }

    span.bLine {
        bottom: 0px;
    }

    span.label {
        line-height: $height;
        width: 100%;
        transition: all 0.4s ease;
        font-size: 1em;
        vertical-align: middle;
        display: block;
        text-transform:uppercase;
    }

    &:hover {
        span.label {
            transform: scale(1, -1) translateX(5px);
        }

        span.line {
            height: $thickness;
            background-color: $color;
        }

        span.tLine {
            width: 18px;
            transform: rotate(-30deg);
            left: -($width - 5px);
            top: 29%;
        }

        span.mLine {
            left: -($width - 9px);
            opacity: 1;
            width: 26px;
        }

        span.bLine {
            width: 18px;
            transform: rotate(30deg);
            left: -($width - 5px);
            bottom: 28%;
        }
    }
}
/*
Css Mixin End
*/

/***********************
Css keyframes Start
************************/

// Header Logo Ani
@keyframes aniLetter {
    0%, 75% {
        clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
        color: $main-white;
    }

    80% {
        clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 60%);
        color: $main-grey;
    }

    85% {
        clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 70%);
        color: $main-yellow;
    }

    90% {
        clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
        color: $main-green;
    }

    95% {
        clip-path: polygon(100% 0, 100% 0%, 0 100%, 0 90%);
        color: $main-red;
    }

    100% {
        clip-path: polygon(100% 0, 100% 0%, 0 100%, 0 100%);
        color: $main-blue;
    }
}

//Footer Beating Heart
@keyframes heartAnim {
    0%{transform: scale(1);}
    100%{transform: scale(1.2);}
}

// Changing Color
@keyframes changingColor {
    0% {background-color: nth($fourColors, 1);}
    25% {background-color: nth($fourColors, 2);}
    50% {background-color: nth($fourColors, 3);}
    100% {background-color: nth($fourColors, 4);}
}

//shake
@keyframes shake {
    0% {transform: translateX(0);}
    1% {transform: translateX(-3px);}
    2% {transform: translateX(5px);}
    3% {transform: translateX(-8px);}
    4% {transform: translateX(8px);}
    5% {transform: translateX(-5px);}
    6% {transform: translateX(3px);}
    7% {transform: translateX(0px);}
}

//flashing bg
@keyframes flashBg{
    0% {background: $main-blue;}
    5% {background: blue;}
    10% {background: orange;}
    15% {background: green;}
    20% {background: red;}
    25% {background: yellow;}
    30% {background: purple;}
    35% {background: orange;}
    45% {background: blue;}
    50% {background: $main-blue;}
}
/*
Css keyframes End
*/
