@import '_bootstrap.scss';
@import '_variable.scss';
@import '_header.scss';

.App {
    text-align: center;
    height: 100vh;

    .header {
        height: 10vh;
    }

    .content {
        background: #3c4043;
        height: 90vh;

        .slide {
            height: 90vh;
        }
    }
}
