@import '_bootstrap.scss';
@import '_variable.scss';
@import '_header.scss';

.App {
    text-align: center;
    height: 100vh;

    .header {
        height: 10vh;
        background: #fff;
        padding: 0;
    }

    .content {
        background: #fff;
        height: 90vh;
        color: $text-color-grey;

        .slide {
            height: 90vh;
        }
    }

    .footer {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background: transparent;
    }
}
