.code-view-container {
    width: 100%;
    max-width: 601px;
}

.code-view {
    @include centerer;
    width: 100%;
    height: 400px;
    background: $main-blue;

    span {
        left: 4px;
        animation-duration: 8s;
    }

    &::before {
        content: "construction.jsx";
        font-family: verdana;
        color: $main-white;
        display: block;
        width: 100%;
        padding: 0 15px;
        font-size: 12px;
        line-height: 24px;
        padding-left: 5px;
        font-weight: 700;
        background: $main-overlay;
        text-align: left;
    }

    .line-1 {
        position: absolute;
        width: 30px;
        height: 10px;
        background: $main-red;
        margin: 30px 21px;
        animation: l1 20s linear infinite;
    }

    .line-2 {
        position: absolute;
        width: 50px;
        height: 7px;
        background: $main-white;
        margin: 40px 21px;
        animation: l2 20s linear infinite;
    }

    .line-3 {
        position: absolute;
        width: 21px;
        height: 7px;
        background: $main-yellow;
        margin: 50px 21px;
        animation: l3 20s linear infinite;
    }

    .line-4 {
        position: absolute;
        width: 70px;
        height: 7px;
        background: $main-white;
        margin: 83px 19px;
        animation: l4 20s linear infinite;
    }

    .line-4::before {
        content: "";
        display: block;
        width: 70px;
        height: 7px;
        background: $main-grey;
        margin: 0px 90px;
        animation: l4 20s linear infinite;
    }

    .line-5 {
        position: absolute;
        width: 40px;
        height: 7px;
        background: $main-red;
        margin: 121px 21px;
        animation: l5 20s linear infinite;
    }

    .line-5::before {
        content: "";
        display: block;
        width: 40px;
        height: 7px;
        background: $main-yellow;
        margin: 0px 60px;
        animation: l5 20s linear infinite;
    }

    .line-5::after {
        content: "";
        display: block;
        width: 40px;
        height: 7px;
        background: $main-green;
        margin: -7px 121px;
        animation: l5 20s linear infinite;
    }

    .line-6 {
        position: absolute;
        width: 70px;
        height: 7px;
        background: $main-grey;
        margin: 152px 21px;
        animation: l6 20s linear infinite;
    }

    .line-6::before {
        content: "";
        display: block;
        width: 30px;
        height: 7px;
        background: $main-white;
        margin: 0px 80px;
        animation: l66 20s linear infinite;
    }

    .line-7 {
        position: absolute;
        width: 162px;
        height: 7px;
        background: $main-red;
        margin: 212px 21px;
        animation: l7 20s linear infinite;
    }
}

/* Code View Ani Start*/
@keyframes l1 {
    0% {
        opacity: 0;
    }

    5%, 6% {
        opacity: 0;
        width: 0;
        height: 7;
    }

    7%, 20% {
        opacity: 1;
        width: 30px;
        height: 7px;
    }
}

@keyframes l2 {
    0% {
        opacity: 0;
    }

    5%, 7%{
        opacity: 0;
        width: 0;
        height: 7;
    }

    8%, 20% {
        opacity: 1;
        width: 50px;
        height: 7px;
    }
}

@keyframes l3 {
    0% {
        opacity: 0;
    }

    5%, 8%{
        opacity: 0;
        width: 0;
        height: 7;
    }

    9%, 20% {
        opacity: 1;
        width: 21px;
        height: 7px;
    }
}

@-moz-keyframes l4 {
    0% {
        opacity: 0;
    }

    5%, 9% {
        opacity: 0;
        width: 0;
        height: 7;
    }

    5%, 20% {
        opacity: 1;
        width: 70px;
        height: 7px;
    }
}
@keyframes l4 {
    0% {
        opacity: 0;
    }

    5%, 9%{
        opacity: 0;
        width: 0;
        height: 7;
    }

    10%, 20% {
        opacity: 1;
        width: 70px;
        height: 7px;
    }
}

@keyframes l5 {
    0% {
        opacity: 0;
    }

    5%, 10% {
        opacity: 0;
        width: 0;
        height: 7;
    }

    12%, 20% {
        opacity: 1;
        width: 40px;
        height: 7px;
    }
}
@keyframes l6 {
    0% {
        opacity: 0;
    }

    5%, 12% {
        opacity: 0;
        width: 0px;
        height: 7px;
    }

    14%, 20% {
        opacity: 1;
        width: 70px;
        height: 7px;
    }
}

@keyframes l66 {
    0% {
        opacity: 0;
    }

    5%, 14% {
        opacity: 0;
        width: 0px;
        height: 7px;
    }

    16%, 20% {
        opacity: 1;
        width: 30px;
        height: 7px;
    }
}

@keyframes l7 {
    0% {
        opacity: 0;
    }

    5%, 16% {
        opacity: 0;
        width: 0;
        height: 7;
    }

    17%, 20% {
        opacity: 1;
        width: 132px;
        height: 7px;
    }
}
/* Code View Ani End*/
