@mixin skew {
    transform: skew(-11deg);
}

$slides-colors: $main-yellow $main-purple $main-red $main-blue;

.about-hobby-container {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    pointer-events: none;

    .hobby-slides {
        z-index: 20;
        height: 100%;
    }

    .hobby-slide {
        z-index: 20;
        display: inline-block;
        width: 25%;
        min-height: 500px;
        height: 100%;
        position: relative;
        transform: translateY(-500px) skewX(-11deg);
        opacity: 0;
        overflow: visible;

        &:first-of-type {
            &:before {
                content: "";
                width: 100%;
                height: 100%;
                position: absolute;
                transform: skewX(-11deg);
                left: -100%;
                background: $main-yellow;
                z-index: 1;
                pointer-events: none;
            }
        }

        &:last-of-type {
            &:after {
                content: "";
                width: 100%;
                height: 100%;
                position: absolute;
                transform: skewX(-11deg);
                right: -100%;
                background: $main-blue;
                z-index: 1;
                pointer-events: none;
            }
        }

        @for $i from 1 through 4 {
            &:nth-child(#{$i}) {
                background: nth($slides-colors, $i);
            }
        }

        .hobby-slide-content {
            z-index: 2;
            position: absolute;
            width: 100%;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            color: inherit;
            padding: 0 25px;
            cursor: pointer;
            max-width: 320px;
            min-height: 250px;

            &.disabled {
                pointer-events: none;

                .header-icon svg {
                    opacity: 0 !important;
                    transition: all 0.8s ease;
                    transform: translate(-50%, -200px);
                }
            }

            .header-icon svg {
                height: 5em;
                width: 5em;
                color: #fff;
                transition: all 0.6s;
                transform: translateY(20px);
                transition-delay: 0.3s;
                @include centerer;
            }

            h1 {
                color: #fff;
                font-size: 2em;
                font-weight: 700;
                margin: 15px 0;
                display: none;
            }

            div.quote-icon {
                position: relative;
                width: 100%;
                text-align: left;
                margin-left: -10px;
                margin-bottom: 5px;
                display: none;

                svg {
                    display: block;
                    width: 15px;
                    height: 15px;
                    opacity: 1;
                    position: relative;
                }
            }

            p.quote-desc {
                color: #fff;
                font-size: 1em;
                display: none;
            }

            p.quote-name {
                color: #fff;
                font-size: 0.7em;
                text-align: right;
                display: none;
            }
        }
    }

    @media screen and (max-width: $break-md) {
        .hobby-slide {
            &:first-of-type {
                &:before {
                    width: 150%;
                    transform: skewX(0deg);
                }
            }

            &:last-of-type {
                &:after {
                    width: 150%;
                    transform: skewX(0deg);
                }
            }

            .hobby-slide-content {
                .header-icon svg {
                    width: 4em;
                    height: 4em;
                }
            }
        }
    }

    @media screen and (max-width: 510px) {
        .hobby-slide {
            .hobby-slide-content {
                padding: 0 20px;
                top: 46%;

                .header-icon svg {
                    width: 3em;
                    height: 3em;
                }

                p.quote-des {
                    line-height: 1.2;
                }
            }
        }
    }

    @media screen and (max-width: $break-xs) {
        .hobby-slide {
            .hobby-slide-content {
                h1 {
                    font-size: 1.55em;
                }

                p.quote-des {
                    font-size: 0.85em;
                }

                .header-icon svg {
                    width: 2em;
                    height: 2em;
                }
            }
        }
    }
}
